---
interface Props {
  name: string
  label: string
  type?: 'text' | 'email' | 'number' | 'password'
  placeholder?: string
  autocomplete?: string
  required?: boolean
}

const { name, label, type = 'text', placeholder, autocomplete, required = false } = Astro.props
---

<div>
  <label for={name} class="block text-sm font-medium leading-6 text-gray-900">{label}</label>
  <div class="mt-2">
    <input
      type={type}
      name={name}
      id={name}
      class="block w-full rounded-md border-0 py-1.5 text-gray-900 ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
      placeholder={placeholder}
      autocomplete={autocomplete}
      required={required}
    />
  </div>
</div>
